<%# pie de pagina %>
<%#  <footer class="my-5 py-5 px-5 bg-black">  %>
  
  <footer class="bg-light">
    <h4 class="text-center text-secondary">Sergio Dominguez 2023. Todos los derechos reservados.</h4>
  </footer>