<!-- contactame -->
  <header class="container my-5 bg-info">
    <div class="row">
      <div class="col">
        <h2 class="display-1 text-center">Contactame</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Quam eveniet vel expedita? Iste ea, nam voluptates ex fugit dignissimos
          repudiandae dolores accusamus qui cumque! Amet consectetur sint omnis
          expedita optio!</p>
      </div>
    </div>
  </header>

  <section class="container-fluid d-none d-sm-none d-md-block bg-info">
    <div class="container text-light">
      <div class="row">
        <div class="col-2"> </div>
        <div class="col-8">
          <div class="row">
            <div class="mb-2 container">
              <label for="exampleFormControlInput1" class="form-label">Nombre</label>
              <input class="form-control" type="text" placeholder="Ingrese Nombre" aria-label="default input example">
            </div>
            <div class="mb-2 container">
              <label for="exampleFormControlInput1" class="form-label">Correo Electronico</label>
              <input type="email" class="form-control" id="exampleFormControlInput1"
                placeholder="Ingrese correo electronico">
            </div>
            <div class="mb-2 container">
              <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Escribe aqui tu mensaje"
                rows="3"></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-info me-md-2" type="button">Enviar</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-2"> </div>
        </div>

      </div>
  </section>
