<!-- Zona hero -->
  <!-- <div class="container ms-auto my-5"> -->
  <section class="container-fluid  bg-secondary my-5 d-none d-sm-none d-md-block "></section>
  <!-- <div class="container ms-auto my-5"> -->
  <div class="row g-4">
    <div class="col">
      <div class="card text-bg-dark">
        <%= image_tag 'bg-hero.jpg', class:"card-img",alt:"imagen"%>
        <div class="card-img-overlay">
          <h5 class="card-title display-1 text-lg-end">Mecanica General</h5>
          <h5 class="card-title display-1 text-lg-end">mejoramiento performance</h5>
          <p class="card-text text-lg-end">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Aliquid qui laudantium sit repellat ex nisi architecto,
            nostrum voluptates distinctio minima. Doloribus perspiciatis beatae qui perferendis
            ea illo provident quis iure?</p>
          <%# <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-info me-md-2" type="button">Service</button>
            <button class="btn btn-info" type="button">Contact</button>
          </div> %>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
  </section>