<!-- Zona hero -->
  <!-- <div class="container ms-auto my-5"> -->
  <section class="container-fluid  bg-info my-5 d-none d-sm-none d-md-block "></section>
  <!-- <div class="container ms-auto my-5"> -->
  <div class="row g-4">
    <div class="col">
      <div class="card text-bg-dark">
        <%= image_tag 'bg-hero.jpg', class:"card-img",alt:"logo"%>
        <div class="card-img-overlay">
          <h5 class="card-title display-1 text-lg-end">Mecanica General</h5>
          <h5 class="card-title display-1 text-lg-end">mejoramiento performance</h5>
          <p class="card-text text-lg-end">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Aliquid qui laudantium sit repellat ex nisi architecto,
            nostrum voluptates distinctio minima. Doloribus perspiciatis beatae qui perferendis
            ea illo provident quis iure?</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-info me-md-2" type="button">Service</button>
            <button class="btn btn-info" type="button">Contact</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
  </section>

   <!-- encabezado -->
  <header class="container my-5">
    <div class="row">
      <div class="col">
        <h1 class="display-1 text-center">Acerca de Nosotros</h1>
      </div>
    </div>
  </header>

  <!-- tarjetas de imagen -->
  <section class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card text-center">
            <i class="fa-solid fa-oil-can"></i>
          <div class="card-body">
            <h5 class="card-title">Mantenciones</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam laborum tempora nemo
              modi assumenda expedita temporibus magni sequi, dignissimos autem aperiam sint, possimus ex! Saepe
              eveniet
              corporis eum porro nam!</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
           <i class="fa-solid fa-gauge"></i>
          <div class="card-body">
            <h5 class="card-title">Ingenieria Mecanica</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi facilis aliquam
              adipisci quibusdam dolore. Sequi inventore possimus debitis et quos dignissimos deserunt amet mollitia,
              fugiat temporibus, suscipit ullam quibusdam exercitationem?</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <i class="fa-solid fa-car-on"></i>
            <div class="card-body">
            <h5 class="card-title">Autos clasicos</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum excepturi a
              possimus, nemo dolore molestiae quidem soluta, expedita quo similique illum iste beatae omnis, velit
              dolores cumque consectetur corporis!</p>
          </div>
        </div>
      </div>

    </div>
  </section>