<!-- Mis trabajos -->
  <section class="container-fluid mt-5 p-5 bg-secondary d-none d-sm-none d-md-block ">
    <!-- <div class="container text-light"> -->
    <section class="container">
      <div class="row">
        <div class="col">
          <h2 class="text-center">
                  Algunos de nuestros servicios
          </h2>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card">
                   <%= image_tag 'card-1.jpg', class:"card-img-top",alt:"Imagen 1"%>
              <div class="card-body">
                <h5 class="card-title">Servicio de pintura</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam laborum tempora
                  nemo
                  modi assumenda expedita temporibus magni sequi, dignissimos autem aperiam sint, possimus ex! Saepe
                  eveniet
                  corporis eum porro nam!</p>
                <button type="button" class="btn btn-outline-info" id="btn_vermas">Ver mas</button>
              </div>

            </div>
          </div>
          <div class="col">
            <div class="card">
                <%= image_tag 'card-2.jpg', class:"card-img-top",alt:"Imagen 2"%>
              <div class="card-body">
                <h5 class="card-title">Servicio performance</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi facilis aliquam
                  adipisci quibusdam dolore. Sequi inventore possimus debitis et quos dignissimos deserunt amet
                  mollitia,
                  fugiat temporibus, suscipit ullam quibusdam exercitationem?</p>
                <button type="button" class="btn btn-outline-info" id="btn_vermas">Ver mas</button>
              </div>

            </div>
          </div>
          <div class="col">
            <div class="card">
                <%= image_tag 'card-3.jpg', class:"card-img-top",alt:"Imagen 3"%>
              <div class="card-body">
                <h5 class="card-title">Servicio Mantenciones</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum excepturi a
                  possimus, nemo dolore molestiae quidem soluta, expedita quo similique illum iste beatae omnis, velit
                  dolores cumque consectetur corporis!</p>
                <button type="button" class="btn btn-outline-info" id="btn_vermas">Ver mas</button>
              </div>

            </div>
          </div>

        </div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
    </section>
  </section>